:host {
    display: block;
    background-color: #242630;
    color: #a3a3a3;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    h4 {
        margin-block-start: 0;
    }

    .frames {
        display: flex;
        flex-direction: row;
    }

    .frame {
        display: flex;
        flex-direction: row;
    }
}
