:host {
    display: flex;
    flex-direction: column;
    background-color: #242630;
    color: #a3a3a3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 12px;

    .register-view {
        display: flex;
        justify-content: space-between;
    }

    h4 {
        margin-block-start: 0;
        margin-block-end: 0.5em;
    }

    .frames-wrapper {
        flex: 1;
        overflow: auto;
    }

    .frames {
        display: table;
        width: max-content;
    }

    .frame {
        display: table-cell;
        vertical-align: top;
        padding-inline-end: 15px;
    }

    .frame td {
        display: block;
        font-family: monospace;
    }
}