
<button type="button" popovertarget="browser-action">
    <div class="material-symbols-outlined">folder_open</div>
</button>
<div popover id="browser-action">
    <div class="browse-bcpl-wrapper">
        <button type="button">
            <span class="material-symbols-outlined">feature_search</span>
            Predefined BCPL
            <span class="material-symbols-outlined">chevron_right</span>
        </button>
        <div class="side-menu">
            @for (program of predefinedPrograms(); track $index) {
                <button type="button" (click)="loadPredefinedProgram(program)">{{ program }}</button>
            }
        </div>
    </div>
    <button type="button" (click)="pasteOCODE()"><span class="material-symbols-outlined">content_paste_go</span> Paste OCODE</button>
</div>
<button type="button" popovertarget="settings">
    <div class="material-symbols-outlined">settings</div>
</button>
<div popover id="settings">
  <div>Arguments <input type="text" (change)="setArguments($event)"></div>
  <div>Input <textarea (change)="setInput($event)"></textarea></div>
</div>
<button type="button" [disabled]="state !== 'paused'" (click)="resumeExecution()">
    <div class="material-symbols-outlined">play_arrow</div>
</button>
<button type="button" (click)="reset()">
    <div class="material-symbols-outlined">stop</div>
</button>
<button type="button" [disabled]="state !== 'paused'" (click)="next()">
    <div class="material-symbols-outlined">step</div>
</button>
<button type="button" [disabled]="state !== 'paused'" (click)="stepOver()">
    <div class="material-symbols-outlined">step_over</div>
</button>
<button type="button" [disabled]="state !== 'paused' || !program().instructionsRan" (click)="stepBack()">
    <div class="material-symbols-outlined">keyboard_backspace</div>
</button>
