:host {
    display: block;
    background-color: rgb(26, 27, 38);
}

button {
    background-color: #403d02;
    border: 0;
}

button:disabled {
    background-color: #666662;
}

button:hover:not(:disabled) {
    filter: brightness(90%);
}

.material-symbols-outlined {
    display: block;
    margin: auto;
    color: #a3a3a3;
}
