.breakpoint {
    display: block;
    margin: auto;
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.breakpoint:checked,
td:hover .breakpoint,
td:has(+ td:hover):has(> .breakpoint) .breakpoint {
    opacity: 1;
}

.highlighted-code {
    color: #A9B1D6;
    box-sizing: border-box;
    margin: 0;
    min-width: 100%;
    min-height: 100%;
    width: min-content;
    height: min-content;
}

.highlighted-word {
    background-color: #445d1d;
}

.linenumber {
    color: #707070;
    user-select: none;
}

.command-arg {
    color: #FF9E64;
}

.comment {
    color: #707070;
}

.command-arg-char {
    color: #30b980;
}

.command-arg-label {
    color: #6ea1d9;
    font-weight: bold;
}
