:root {
    --breakpoint-sidebar-width: 20px;
}

.breakpoints {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-family: monospace;
    width: var(--breakpoint-sidebar-width);
    height: 100%;
}

.breakpoint-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breakpoint-wrapper .breakpoint {
    font-family: monospace;
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.breakpoint-wrapper .breakpoint:checked,
.breakpoint-wrapper:hover .breakpoint {
    opacity: 1;
}

.shiki-wrapper {
    height: 100%;
}

.shiki {
    box-sizing: border-box;
    margin: 0;
    padding-left: var(--breakpoint-sidebar-width);
    min-width: 100%;
    min-height: 100%;
    width: min-content;
}

.highlighted-word {
    background-color: olivedrab;
}
