:root {
    --breakpoint-sidebar-width: 100px;
}

code-view {
    position: relative;
}

.breakpoints {
    position: absolute;
    font-family: monospace;
    width: var(--breakpoint-sidebar-width);
    height: 100%;
}

.breakpoint-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breakpoint-wrapper .breakpoint {
    font-family: monospace;
    opacity: 0;
    transition: opacity 100ms ease-in;
}

.breakpoint-wrapper .breakpoint:checked,
.breakpoint-wrapper:hover .breakpoint {
    opacity: 1;
}

.highlighted-code {
    color: #A9B1D6;
    box-sizing: border-box;
    margin: 0;
    padding-left: var(--breakpoint-sidebar-width);
    min-width: 100%;
    min-height: 100%;
    width: min-content;
    height: min-content;
}

.highlighted-word {
    background-color: #445d1d;
}

.linenumber {
    color: #707070;
}

.command-arg {
    color: #FF9E64;
}

.comment {
    color: #707070;
}

.command-arg-char {
    color: #30b980;
}

.command-arg-label {
    color: #6ea1d9;
    font-weight: bold;
}
